.text {
   color: rgb(182, 182, 182, 0.2);
   background: linear-gradient(to right, #fffcf2, #fffcf2) no-repeat;
   background-clip: text;
   background-size: 0%;
   transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}
